@import '../../styles/variables';
@import '../../styles/mixins';

.home {
  padding: $spacing-2xl $spacing-md;
  text-align: center;
  min-height: calc(100vh - 300px);
  @include flex-center;
  flex-direction: column;
}

.title {
  font-family: $font-secondary;
  font-size: $fs-4xl;
  font-weight: 400;
  margin-bottom: $spacing-md;
  color: $text-dark;
  letter-spacing: 2px;
  line-height: 1.3;

  @include breakpoint(lg) {
    font-size: 3.5rem;
    margin-bottom: $spacing-lg;
  }
}

.description {
  font-size: $fs-lg;
  color: $text-light;
  max-width: 580px;
  margin: 0 auto;
  line-height: 1.9;
  font-weight: 300;
  letter-spacing: 0.3px;
}

