@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.swiperWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacing-lg 0;
}

.swiper {
  width: 100%;
}

.swiperSlide {
  width: 320px;
  height: 420px;
  border-radius: 18px;
  border: 10px solid #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  @include breakpoint(lg) {
    width: 380px;
    height: 320px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
