@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.swiperWrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  position: relative;
}

.swiperSlide {
  width: 100%;
  height: 70vh;
  min-height: 500px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(lg) {
    height: 80vh;
    min-height: 600px;
  }

  @media (max-width: 880px) {
    height: 65vh;
    min-height: 450px;
  }

  @media (max-width: 560px) {
    height: 60vh;
    min-height: 400px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
