@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.swiperWrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  position: relative;
}

.swiperSlide {
  width: 100%;
  aspect-ratio: 3 / 2;
  min-height: 600px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(lg) {
    min-height: 700px;
  }

  @media (max-width: 880px) {
    min-height: 500px;
  }

  @media (max-width: 560px) {
    min-height: 400px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
