@import '../styles/variables';
@import '../styles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-size: $fs-base;
  line-height: 1.7;
  color: $text-dark;
  background-color: $secondary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color $transition-fast;

  &:hover {
    color: $primary-color;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
}

