@use '../styles/variables' as *;
@use '../styles/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-size: $fs-base;
  line-height: 1.7;
  color: $text-dark;
  background: linear-gradient(180deg, $secondary-color 0%, $bg-off-white 40%, $secondary-color 100%);
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

section {
  scroll-margin-top: 120px;
  background-color: $secondary-color;
  border-radius: 32px;
  padding: 0 $spacing-md;
  margin: 0 auto $spacing-2xl;
  max-width: 1400px;
  box-shadow: 0 25px 60px rgba(125, 82, 52, 0.08);

  @include breakpoint(lg) {
    padding: 0;
  }
}

section:nth-of-type(even) {
  background-color: $bg-light;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color $transition-fast;

  &:hover {
    color: $primary-color;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
}

